body {
    background-color: lightblue !important;
}
h1{
    background-color: lightblue !important;
    text-align: left !important;
}

p {
    background-color: lightblue !important;
    text-align: left !important;
}
#thePic {
    height: 200px !important;
}